*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: sans-serif;
  
}
body{
  min-height: 200vh;
  max-width: 100vw;
  overflow-x: auto;
}
.main{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.faster, .no-effect, .slower, .right, .left{
  width: 15vw;
  height: 15vw;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.faster{
  background-color: rgb(211, 81, 58);
}
.no-effect{
  background-color: rgb(40, 148, 76);
}
.slower{
  background-color: rgb(38, 50, 160);
}
.right{
  background-color: rgb(98, 53, 156);
}
.left{
  background-color: rgb(141, 133, 16);
}

@media only screen and (max-width: 768px){
  *{
    font-size: 17px;
  }
  .main{
    width: 100%;
  }
  .faster, .no-effect, .slower, .right, .left{
    width: 18vw;
    height: 18vw;
  }
}
