:root{
  --bgcolor: #154214;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("./assets/cate-bligh-lX5wMeZUidA-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  backface-visibility: inherit;
  font-size: 24px;
}
.main:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 101;
  background: linear-gradient(to top,var(--bgcolor),transparent);

}
.faster, .no-effect, .slower{
  width: 15vw;
  height: 15vw;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255,0.3);
  z-index: 2;
}
.faster{
  background-color: rgb(211, 81, 58);
  border: 1px solid rgb(211, 81, 58);
}
.no-effect{
  background-color: rgb(40, 148, 76);
  border: 1px solid rgb(40, 148, 76);
}
.slower{
  background-color: rgb(38, 50, 160);
  border: 1px solid rgb(38, 50, 160);
}

.footer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bgcolor);
  z-index: 100;
  color: #ffffff;
}
.footer h1{
  font-size: 48px;
  margin-bottom: 5px;
}
.footer p{
  font-size: 24px;
}

@media only screen and (max-width: 768px){
  .main{
    font-size: 20px;
  }
  .faster, .no-effect, .slower{
    width: 28vw;
    height: 28vw;
  }
}
