*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-stroke: 2px aliceblue;
  
}
body{
  background: #1f1f1f;
}
.main{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container{
  color: aliceblue;
  font-size: 10vw;
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color:transparent;
}

